section.home-section-wrapper {
    overflow: hidden;

    background-image: url("../images/home-bg.jpg");
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;

    position: relative;
}

section.home-section-wrapper .hero-wrapper {
    /* height: 100%; */
    padding: 8%;
    background: rgba(0, 0, 0, 1); /*bg image covered because alpha = 1*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(143deg, #dc6511, #6d9327);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 20s ease-in-out infinite;
    -moz-animation: AnimationName 20s ease-in-out infinite;
    animation: AnimationName 20s ease-in-out infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 2%;
    }
    50% {
        background-position: 100% 99%;
    }
    100% {
        background-position: 0% 2%;
    }
}
@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 2%;
    }
    50% {
        background-position: 100% 99%;
    }
    100% {
        background-position: 0% 2%;
    }
}
@keyframes AnimationName {
    0% {
        background-position: 0% 2%;
    }
    50% {
        background-position: 100% 99%;
    }
    100% {
        background-position: 0% 2%;
    }
}

section.home-section-wrapper .hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

section.home-section-wrapper .hero h4 {
    font-size: 6rem;
    margin-bottom: 4%;
}

section.home-section-wrapper .hero p {
    font-size: 1.2rem;
    width: 70%;
    text-align: justify;
    line-height: 1.6rem;
}

section.home-section-wrapper .category {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 18rem;
    width: 100%;
    height: 100%;
    grid-gap: 5rem 3rem;
}

section.home-section-wrapper .cate-img {
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 28px;
}

section.home-section-wrapper .cate-1 {
    background-image: url("../images/cate-1.jpg");
}

section.home-section-wrapper .cate-2 {
    background-image: url("../images/cate-2.jpg");
}

section.home-section-wrapper .cate-3 {
    background-image: url("../images/cate-3.jpg");
}

section.home-section-wrapper .cate-4 {
    background-image: url("../images/cate-4.jpg");
}

@media only screen and (max-width: 1024px) {
    section.home-section-wrapper .hero-wrapper {
        padding: 10% 2%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section.home-section-wrapper .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    section.home-section-wrapper .hero h4 {
        font-size: 4rem;
        margin-bottom: 2%;
    }

    section.home-section-wrapper .hero p {
        font-size: 1rem;
        width: 90%;
        line-height: 1.2rem;
    }

    section.home-section-wrapper .category {
        grid-gap: 5rem 2rem;
    }
}

@media only screen and (max-width: 768px) {
    section.home-section-wrapper .category {
        grid-gap: 5rem 1rem;
    }

    section.home-section-wrapper .cate-img {
        border-radius: 10px;
    }
}

@media only screen and (max-width: 426px) {
    section.home-section-wrapper {
        /* height: 1500px; */
    }

    section.home-section-wrapper .hero-wrapper {
        overflow: auto;
        padding: 0;
        height: 100vh;
    }

    section.home-section-wrapper .hero {
        margin: 5rem 0 1rem 0;
    }

    section.home-section-wrapper .hero h4 {
        font-size: 3rem;
        margin-bottom: 2%;
    }

    section.home-section-wrapper .hero p {
        font-size: 0.9rem;
        text-align: justify;
        margin: 0 0%;
        line-height: 20px;
        width: 92%;
    }

    section.home-section-wrapper .category {
        position: relative;
    }

    section.home-section-wrapper .cate-img {
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .cate-1 {
        opacity: 1;
        animation: animImg1 3s ease-in-out 0s infinite alternate;
    }

    .cate-2 {
        opacity: 0;
        animation: animImg2 3s ease-in-out 3s infinite alternate;
    }

    .cate-3 {
        opacity: 0;
        animation: animImg3 3s ease-in-out 6s infinite alternate;
    }

    .cate-4 {
        opacity: 0;
        animation: animImg4 3s ease-in-out 9s infinite alternate;
    }
}

@keyframes animImg1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animImg2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animImg3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animImg4 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
